body {
    background-color: #EFE9D5;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* .container {
    top: -30px;
    left: -50px;
    position: absolute;
}

#hexagon {
    width: 6vw;
    aspect-ratio: 1.732 / 1;
    background: #71BBB2;
}

#hexagon:before {
    content: '';
    position: absolute;
    top: -2.6vw;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3vw solid transparent;
    border-right: 3.05vw solid transparent;
    border-bottom: 2.6vw solid #71BBB2;
}

#hexagon:after {
    content: '';
    position: absolute;
    bottom: -2.6vw;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3vw solid transparent;
    border-right: 3.05vw solid transparent;
    border-top: 2.6vw solid #71BBB2;
} */

#title {
    color: #27445D;
    font-size: 4vw;
    display: flex;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 1vh;
}

a {
    text-decoration: none;
}

.menu {
    width: 25vh;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.btn {
    background: #497D74;
    color: #292929;
    border: #292929;
    font-size: 3vh;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    text-align: center;
}

.btn:hover {
    background: #27445D;
    color: #EFE9D5;
}